<div class="inicio">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light navBar">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->

                <a class="navbar-brand mt-2 mt-lg-0" href="/inicio">
                    <img src="/assets/images/fhOriginal.png" class="imageLogoInicio" alt="MDB Logo" loading="lazy" />
                </a>

                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#inicio">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#servicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/privacidad">Política de privacidad</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <div class="bannerDivInicio">

    </div>
    <div data-draggable="true" style="position: relative;" class="quienesSomosDiv">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="mb-10">
                <div class="d-flex justify-content-center">
                    <div class="text-center" style="max-width: 700px">
                        <h2 class="fw-bold mb-4 text-white quieneSomosTitle">¿Quienes somos?</h2>
                        <hr class="text-white">
                        <p class="text-white mb-5">Somos una empresa constructora con la tecnología más avanzada para
                            aplicarla a cualquier ramo de la construcción. Nuestro equipo está conformado por los
                            mejores arquitectos e ingenieros civiles para lograr proyectos de la más alta calidad.</p>
                    </div>
                </div>

            </section>
        </section>
        <!---->
    </div>
    <div data-draggable="true" style="position: relative;" class="construc">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="mb-10 text-center text-lg-start">
                <style>
                    .cascading-right {
                        margin-right: -50px;
                    }

                    @media (max-width: 991.98px) {
                        .cascading-right {
                            margin-right: 0;
                        }
                    }
                </style> <!-- Jumbotron -->
                <div class="container py-4">
                    <div class="row g-0 align-items-center">
                        <div class="col-lg-6 mb-5 mb-lg-0">
                            <div class="card cascading-right"
                                style=" background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px); ">
                                <div class="card-body py-5 px-md-5 shadow-5">
                                    <h3 class="fw-bold">Misión</h3>
                                    <p class="text-black mb-4">Ser su consultor en gestión de proyectos de ingeniería y
                                        construcción.</p>
                                    <h3 class="fw-bold">Visión</h3>
                                    <p class="text-black mb-4">Ser la empresa líder de construcción de infraestructura
                                        en México, ofreciendo una amplia gama de servicios y una sólida presencia en
                                        todo el país, demostrando nuestra innovación y tecnología en cada proyecto.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-5 mb-lg-0"> <img src="/assets/images/constructor.jpg"
                                class="w-100 rounded-5 shadow-4" alt="" aria-controls="#picker-editor"> </div>
                    </div>
                </div> <!-- Jumbotron -->
            </section>
        </section>
        <!---->
    </div>
    <div class="divNosotros" id="nosotros">
        <div class="construcDescanso2">

        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card cardNosotrosDiv1">
                        <div class="card-body text-danger">
                            <h3 class="card-title">¿Por qué nosotros?</h3>
                            <hr class="text-black">

                            <p class="card-text">Cumplimos con las normas y reglamentos nacionales para el desarrollo y
                                ejecución de proyectos de esta naturaleza. Te garantizamos que en la ejecución de la
                                obra, la calidad de los materiales y el diseño de la construcción cumplen con lo
                                establecido en cada proyecto.</p>
                            <a href="#servicios" class="card-link text-muted cardLinkNosotros">Servicios</a>
                            <a href="#contacto" class="card-link text-muted cardLinkNosotros">Contacto</a>
                        </div>
                    </div> <br> <br>
                    <h3>Nuestros valores:</h3> <br>
                    <div class="row">
                        <div class=" col-sm-6">
                            <div class="list-group list-group-light" id="list-tab" role="tablist">
                                <a class="list-group-item list-group-item-action active px-3 border-0  list-group-item-warning"
                                    id="list-home-list" data-mdb-toggle="list" href="#list-home" role="tab"
                                    aria-controls="list-home">Compromiso</a>
                                <a class="list-group-item list-group-item-action px-3 border-0 list-group-item-warning"
                                    id="list-profile-list" data-mdb-toggle="list" href="#list-profile" role="tab"
                                    aria-controls="list-profile">Lealtad</a>
                                <a class="list-group-item list-group-item-action px-3 border-0 list-group-item-warning"
                                    id="list-messages-list" data-mdb-toggle="list" href="#list-messages" role="tab"
                                    aria-controls="list-messages">Trabajo en equipo</a>

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="tab-content contentValores" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                                    aria-labelledby="list-home-list">
                                    Desempeñar profesionalmente nuestras funciones para lograr cumplir con la misión de
                                    Firehole y con los objetivos de nuestros clientes otorgando siempre valor agregado a
                                    través de nuestra actitud servicial en todo el proyecto.
                                </div>
                                <div class="tab-pane fade" id="list-profile" role="tabpanel"
                                    aria-labelledby="list-profile-list">
                                    Somos consecuentes con lo prometido, honramos y cumplimos todo lo acordado.
                                </div>
                                <div class="tab-pane fade" id="list-messages" role="tabpanel"
                                    aria-labelledby="list-messages-list">
                                    Máximo rendimiento y talento de los empleados a partir de la alineación de los
                                    objetivos personales y profesionales con el crecimiento de la empresa.
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="assets/images/casco2.jpg" class="img-thumbnail img-casco2" alt="casco2" />
                </div>
            </div>

        </div>
    </div>
    <div id="servicios">
        <div class="bannerServiciosInicio">

        </div>
        <div data-draggable="true" style="position: relative;">
            <!---->
            <!---->
            <section draggable="false" class="container pt-5" data-v-271253ee="">
                <section class="mb-10 text-center">
                    <br> <br>
                    <div class="row gx-lg-5">
                        <div class="col-lg-4 col-md-12 mb-6 mb-lg-0">
                            <div class="card shadow-2-strong">
                                <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                                    data-mdb-ripple-color="light" style="margin-top: -15px"> <img
                                        src="assets/images/expertos.jpg" class="img-fluid" alt=""
                                        aria-controls="#picker-editor"> </div>
                                <div class="card-body">
                                    <h5 class="card-title">Procesos y asesorías</h5>
                                    <p class="card-text">Te ofrecemos las herramientas necesarias para poder llevar a
                                        cabo tu plan requerido, nos acoplamos a tus ideas. Te podemos asesorar con la
                                        planeación, equipo profesional, diseños a la medida, trámites legales y
                                        cualquier tipo de cálculo que requieras.</p> <a href="#contacto"
                                        class="btn  btn-dark btn-rounded" aria-controls="#picker-editor">Saber Más</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-6 mb-lg-0">
                            <div class="card shadow-2-strong">
                                <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                                    data-mdb-ripple-color="light" style="margin-top: -15px"> <img
                                        src="assets/images/residente.jpg" class="img-fluid" alt=""
                                        aria-controls="#picker-editor"> </div>
                                <div class="card-body">
                                    <h5 class="card-title">Construcciones no residenciales, residenciales <br> o
                                        trabajos de
                                        ingeniería civil</h5>
                                    <p class="card-text">Planeamos, diseñamos, organizamos y construimos con los mejores
                                        materiales y de la más alta calidad.</p> <a href="#contacto"
                                        class="btn  btn-dark btn-rounded" aria-controls="#picker-editor">Saber más</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-6 mb-lg-0">
                            <div class="card shadow-2-strong">
                                <div class="bg-image hover-overlay ripple shadow-4-strong rounded mx-3"
                                    data-mdb-ripple-color="light" style="margin-top: -15px"> <img
                                        src="assets/images/asesor.jpg" class="img-fluid" alt=""
                                        aria-controls="#picker-editor"> </div>
                                <div class="card-body">
                                    <h5 class="card-title">Restauración y trabajo de mantenimiento</h5>
                                    <p class="card-text">Nos encargamos de conservar tu inmueble como construcción de
                                        caminos, remodelaciones en general, sin importar el material con el que este
                                        hecho.
                                    </p> <a href="#contacto" class="btn  btn-dark btn-rounded"
                                        aria-controls="#picker-editor">Saber más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <!---->
        </div>
    </div>
    <div id="contacto">
        <div data-draggable="true" style="position: relative;">
            <!---->
            <!---->
            <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
                <section class="mb-10 background-radial-gradient overflow-hidden">
                    <style>
                        .background-radial-gradient {
                            background-color: black;
                            background-image: radial-gradient(650px circle at 0% 0%, #fbcb43 15%, black 35%, rgb(46, 45, 45) 75%, #fbcb43 80%, transparent 100%), radial-gradient(1250px circle at 100% 100%, black 15%, #fbcb43 35%, black 75%, black 80%, transparent 100%);
                        }





                        .bg-glass {
                            background-color: hsla(0, 0%, 100%, 0.9) !important;
                            backdrop-filter: saturate(200%) blur(25px);
                        }
                    </style>
                    <div class="container px-4 py-5 px-md-5 text-center text-lg-start">
                        <div class="row gx-lg-5 align-items-center mb-5">
                            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                                <h1 class="my-5 display-3 fw-bold ls-tight text-white"> Firehole </h1>
                                <hr class="text-white">
                                <h2 class=" fw-bold ls-tight text-white">La mejor opción <br> para tu proyecto</h2>
                            </div>
                            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
                                <div class="card bg-glass">
                                    <div class="card-body px-4 py-5 px-md-5">
                                        <form action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);">
                                            <!-- 2 column grid layout with text inputs for the first and last names -->
                                            <div class="row">
                                                <div class="col-md-6 mb-4">
                                                    <div class="form-outline"> <input type="text" id="form3Example1"
                                                            class="form-control formInput" name="name" required>
                                                        <label class="form-label" for="form3Example1"
                                                            style="margin-left: 0px;">Nombre</label>
                                                        <div class="form-notch">
                                                            <div class="form-notch-leading" style="width: 9px;"></div>
                                                            <div class="form-notch-middle" style="width: 68.8px;"></div>
                                                            <div class="form-notch-trailing"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-4">
                                                    <div class="form-outline"> <input type="text" id="form3Example2"
                                                            class="form-control formInput" name="secondname" required>
                                                        <label class="form-label" for="form3Example2"
                                                            style="margin-left: 0px;">Apellidos</label>
                                                        <div class="form-notch">
                                                            <div class="form-notch-leading" style="width: 9px;"></div>
                                                            <div class="form-notch-middle" style="width: 68px;"></div>
                                                            <div class="form-notch-trailing"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- Email input -->
                                            <div class="form-outline mb-4"> <input type="email" id="form3Example3"
                                                    class="form-control formInput" name="email" required>
                                                <label class="form-label" for="form3Example3"
                                                    style="margin-left: 0px;">Correo electrónico</label>
                                                <div class="form-notch">
                                                    <div class="form-notch-leading" style="width: 9px;"></div>
                                                    <div class="form-notch-middle" style="width: 88.8px;"></div>
                                                    <div class="form-notch-trailing"></div>
                                                </div>
                                            </div><!-- Phone input -->
                                            <div class="form-outline mb-4">
                                                <textarea class="form-control formInput" id="form4Example3" rows="1" name="number" required></textarea>
                                                <label class="form-label" for="form4Example3">Número</label>
                                            </div> <!-- Message input -->
                                            <div class="form-outline mb-4">
                                                <textarea class="form-control formInput" id="form4Example3" name="message" rows="4"></textarea>
                                                <label class="form-label" for="form4Example3">Mensaje (opcional)</label>
                                            </div> <!-- Checkbox -->
                                            <div class="form-check d-flex justify-content-center mb-4"> <input
                                                    class="form-check-input me-2" type="checkbox" value=""
                                                    id="form2Example33" checked="" required> <label
                                                    class="form-check-label" for="form2Example33">Acepto <span
                                                        class="text-warning"><u>política de
                                                            privacidad</u></span></label> </div>
                                            <!-- Submit button -->
                                            <button type="submit" class="btn  btn-dark btn-block mb-4">Enviar</button>
                                            <!-- Register buttons -->
                                            <p><i class="fa-solid fa-phone"></i> 5553082490</p>
                                            <p><i class="fa-solid fa-envelopes-bulk"></i> atencion@fireholeconstrucciones.com</p>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <!---->
        </div>
    </div>

</div>