<div class="inicio">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light navBar">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->

                <a class="navbar-brand mt-2 mt-lg-0" href="/inicio">
                    <img src="/assets/images/fhOriginal.png" class="imageLogoInicio" alt="MDB Logo" loading="lazy" />
                </a>

                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#inicio">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#servicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/privacidad">Política de privacidad</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <div class="bannerDivInicio">

    </div>
    <div data-draggable="true" style="position: relative;">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="mb-10">
                <div class="d-flex justify-content-center">
                    <div class="text-center" style="max-width: 700px">
                        <h2 class="fw-bold mb-4 text-black quieneSomosTitle">¿Quienes somos?</h2>
                        <p class="text-black mb-5">Somos una empresa constructora con la tecnología más avanzada para
                            aplicarla a cualquier ramo de la construcción. Nuestro equipo está conformado por los
                            mejores arquitectos e ingenieros civiles para lograr proyectos de la más alta calidad.</p>
                    </div>
                </div>

            </section>
        </section>
        <!---->
    </div>
    <div data-draggable="true" style="position: relative;" class="construc">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="mb-10 text-center text-lg-start">
                <style>
                    .cascading-right {
                        margin-right: -50px;
                    }

                    @media (max-width: 991.98px) {
                        .cascading-right {
                            margin-right: 0;
                        }
                    }
                </style> <!-- Jumbotron -->
                <div class="container py-4">
                    <div class="row g-0 align-items-center">
                        <div class="col-lg-6 mb-5 mb-lg-0">
                            <div class="card cascading-right"
                                style=" background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px); ">
                                <div class="card-body py-5 px-md-5 shadow-5">
                                    <h3 class="fw-bold">Misión</h3>
                                    <p class="text-black mb-4">Ser su consultor en gestión de proyectos de ingeniería y
                                        construcción.</p>
                                    <h3 class="fw-bold">Visión</h3>
                                    <p class="text-black mb-4">Ser la empresa líder de construcción de infraestructura
                                        en México, ofreciendo una amplia gama de servicios y una sólida presencia en
                                        todo el país, demostrando nuestra innovación y tecnología en cada proyecto.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-5 mb-lg-0"> <img src="/assets/images/constructor.jpg"
                                class="w-100 rounded-5 shadow-4" alt="" aria-controls="#picker-editor"> </div>
                    </div>
                </div> <!-- Jumbotron -->
            </section>
        </section>
        <!---->
    </div>
    <div class="divNosotros">
        <div class="construcDescanso2">

        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card cardNosotrosDiv1">
                        <div class="card-body text-danger">
                            <h5 class="card-title">¿Por qué nosotros?</h5>

                            <p class="card-text">Cumplimos con las normas y reglamentos nacionales para el desarrollo y
                                ejecución de proyectos de esta naturaleza. Te garantizamos que en la ejecución de la
                                obra, la calidad de los materiales y el diseño de la construcción cumplen con lo
                                establecido en cada proyecto.</p>
                            <a href="#servicios" class="card-link text-muted">Servicios</a>
                            <a href="#contacto" class="card-link text-muted">Contacto</a>
                        </div>
                    </div> <br> <br>
                    <h3>Nuestros valores:</h3> <br>
                    <div class="row">
                        <div class=" col-sm-6">
                            <div class="list-group list-group-light" id="list-tab" role="tablist">
                                <a class="list-group-item list-group-item-action active px-3 border-0  list-group-item-warning"
                                    id="list-home-list" data-mdb-toggle="list" href="#list-home" role="tab"
                                    aria-controls="list-home">Compromiso</a>
                                <a class="list-group-item list-group-item-action px-3 border-0 list-group-item-warning" id="list-profile-list"
                                    data-mdb-toggle="list" href="#list-profile" role="tab"
                                    aria-controls="list-profile">Lealtad</a>
                                <a class="list-group-item list-group-item-action px-3 border-0 list-group-item-warning" id="list-messages-list"
                                    data-mdb-toggle="list" href="#list-messages" role="tab"
                                    aria-controls="list-messages">Trabajo en equipo</a>

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="tab-content contentValores" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                                    aria-labelledby="list-home-list">
                                    Desempeñar profesionalmente nuestras funciones para lograr cumplir con la misión de
                                    Firehole y con los objetivos de nuestros clientes otorgando siempre valor agregado a
                                    través de nuestra actitud servicial en todo el proyecto.
                                </div>
                                <div class="tab-pane fade" id="list-profile" role="tabpanel"
                                    aria-labelledby="list-profile-list">
                                    Somos consecuentes con lo prometido, honramos y cumplimos todo lo acordado.
                                </div>
                                <div class="tab-pane fade" id="list-messages" role="tabpanel"
                                    aria-labelledby="list-messages-list">
                                    Máximo rendimiento y talento de los empleados a partir de la alineación de los
                                    objetivos personales y profesionales con el crecimiento de la empresa.
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="assets/images/casco2.jpg" class="img-thumbnail img-casco2" alt="casco2" />
                </div>
            </div>

        </div>
    </div>

</div>